// base
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
 font-family: $font-family;
 font-size: 16px;
 margin: 0;
 padding: 0;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.text {
  background: {
    image: url("images/bg-pattern-desktop.svg");
    size: cover;
    repeat: no-repeat;
  }
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 0 0 5% 12%;
  .logo {
    margin: 10% 0 20%;
  }
}

.hero {
  background: {
    image: url("images/hero-desktop.jpg");
    size: cover;
    repeat: no-repeat;
  }
  height: 100%;
  width: 40%;
}

.main-heading {
  font-size: 4.5em;
  letter-spacing: 7px;
  display: inline-block;
  margin: 0;
  > span:first-child {
    color: $desaturated-red;
    font-weight: 300;
  }
  > span:nth-child(2), span:nth-child(3) {
    display: block;
    font-weight: 400;
  }
}
.wrap {
  width: 54%;
}
.desc {
  line-height: 1.8em;
  color: $desaturated-red;
  margin: 10% 0;
  display: inline-block;
}

form {
  position: relative;
  width: 100%;
}

input[type="email"] {
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid $light-grey;
  background: transparent;
  outline: none;
  &::placeholder {
    color: $light-grey;
    font-family: $font-family;
  }

}

button {
  @include gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 85px;
  border: none;
  border-radius: 50px;
  outline: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 10px 15px -12px rgba(0, 0, 0, 0.35);
  &:hover {
    @include gradient(lighten(hsl(0, 80%, 86%), 10%), lighten(hsl(0, 74%, 74%), 10%));
    box-shadow: 2px 15px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 30px;
  font-size: 0.7em;
}

.attribution a {
  color: $blue;
}
