@mixin gradient($first-color, $second-color) {
  background: linear-gradient(135deg, $first-color 0%, $second-color 100%);
}


@mixin flex($display, $justify, $align, $dir:'row') {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  @if ($dir != '') {
    flex-direction: $dir;
  }
}

@mixin position($pos, $top:'', $right:'', $bottom:'', $left:'') {
  position: $pos;
  @if ($top != '') {
    top: $top;
  }
  @if ($right != '') {
    right: $right;
  }
  @if ($bottom != '') {
    bottom: $bottom;
  }
  @if ($left != '') {
    left: $left;
  }
}

@mixin container-size($width:'auto', $height:'auto') {
  @if ($width != '') {
    width: $width;
  }
  @if ($height != '') {
    height: $height;
  }
}

@mixin media($breakpoint) {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}
