// compileCompressed: ../../dist/css/$1.min.css

@charset 'utf-8';
@import 'variables';
@import 'mixins';

// basic styles

* {
  box-sizing: border-box;
}

button, input {
  outline: none;
  border-radius: 50px;
}


/*following styles uses mixins from _mixins.scss

Explanation:

1. gradient: sets simple linear-gradient with two color stops. Arguments: $first-color, $second-color
2. flex: sets flex-box model for element. Arguments: $display, $justify, $align. Optional: $flex-direction.
3. position: sets position rules for element. Arguments: $position. Optional $top, $right, $bottom, $left.
4. container-size: sets size of a container. Arguments: optional $width, $heiht.
5. media: includes media queries for element. Arguments: min-width ($breakpoint).

*/

body {
  margin: 0;
  font: {
    family: $font-family;
    size: $body-copy;
  }
  @include gradient(lighten(hsl(0, 74%, 74%), 30%), lighten(hsl(0, 80%, 86%), 10%));
}

.main-wrapper {
  @include flex(flex, space-between, center, column-reverse);
  @include container-size(auto, 100%);
  // min-width: 780px;
  @include media($medium) {
    @include flex(flex, space-between, center, row);
    @include container-size(100vw, 100vh);
  }
}

.text-block {
  @include container-size(100%, auto);
  min-width: auto;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  // min-width: 500px;
  @include media($small) {
    min-width: 440px;
  }
  // min-width: 780px (changes background image for tablet);
  @include media($medium) {
    @include flex(flex, flex-start, flex-start, column);
    @include container-size(65%, 100vh);
    padding: 5% 0 0 5%;
    background: {
      image: url('../../dist/img/bg-pattern-desktop.svg');
      size: cover;
      repeat: no-repeat;
    }
    text-align: left;
  }

  // min-width: 1100px;
  @include media($large) {
    @include container-size(100%, 100vh);
    padding: 7% 5% 0 10%;
  }

  &__logo {
    position: absolute;
    padding: 4%;
    top: 0;
    left: 0;

    // min-width: 780px;
    @include media($medium) {
      position: static;
      margin: 0 0 15%;
      padding: 0;
    }
  }
}

.heading {
  padding-top: 10%;
  margin: 0;
  font-size: $heading-medium;
  letter-spacing: 10px;
  text-transform: uppercase;

  // min-width: 1100px;
  @include media($large) {
    padding: 6% 0 0 0;
    margin-top: 0;
    font-size: $heading-big;
  }

  // min-width: 780px;
  @include media($medium) {
    margin-top: 6%;
  }

  &__text--red {
    color: $desaturated-red;
    font-weight: 300;
  }

  &__text--black {
    display: block;
    font-weight: 600;
    color: $dark-red;
  }
}

.form-wrapper {
  @include container-size(90%);
  margin: 8% auto;

  // min-width: 500px;
  @include media($small) {
    @include container-size(70%);
    margin: 8% auto;
  }

  // min-width: 780px;
  @include media($medium) {
    @include container-size(80%);
    margin: 8% 0;
  }

  // min-width: 1100px;
  @include media($large) {
    @include container-size(60%);
    margin: 8% 0;
  }

  &__description {
    margin: 15% 0;
    line-height: 1.8em;
    color: $desaturated-red;

    // min-width: 1100px;
    @include media($large) {
    margin: 8% 0;
    }

    // min-width: 780px;
    @include media($medium) {
    margin: 0 0 10% 0;
    }
  }

  &__error-msg {
    display: none;
    margin: 10px 0 0 20px;
    font-size: $small-text;
    color: $soft-red;
  }
}

.subscription-form {
  position: relative;
  @include container-size(100%);

  &::after {
    @include position(absolute, $top:calc(50% - 12px), $right:100px)
    display: none;
    @include container-size(24px, 24px);
    content: '';
    background: {
      image: url('../../dist/img/icon-error.svg');
      repeat: no-repeat;
    }
  }

  &__email {
    @include container-size(100%, 50px);
    padding: 10px 20px;
    border: 1px solid $light-grey;
    background: transparent;

    &::-webkit-input-placeholder {
      font-family: $font-family;
      color: $light-grey;
    }

    &::-moz-placeholder {
      font-family: $font-family;
      color: $light-grey;
    }

    &:-ms-input-placeholder {
      font-family: $font-family;
      color: $light-grey;
    }

    &::-ms-input-placeholder {
      font-family: $font-family;
      color: $light-grey;
    }

    &::placeholder {
      font-family: $font-family;
      color: $light-grey;
    }
  }
}

.error {
      border: 1px solid $soft-red;

      &::after {
        display: block;
      }
}

.submit-btn {
  @include position(absolute, $right:0);
  @include container-size(85px, 50px);
  border: none;
  cursor: pointer;
  @include gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 10px 15px -12px rgba(0, 0, 0, 0.35);

  &:hover {
    @include gradient(lighten(hsl(0, 80%, 86%), 10%), lighten(hsl(0, 74%, 74%), 10%));
    box-shadow: 2px 15px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

.hero-image {
  @include container-size(100%, 45vh);
  margin-top: calc(33px + 8%);
  background: {
    image: url('../../dist/img/hero-mobile.jpg');
    size: cover;
    repeat: no-repeat;
  }
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  // min-width: 550px - additional size for this exact picture;
  @include media(550px) {
    background: {
      image: url('../../dist/img/hero-tablet.jpg');
      size: cover;
      repeat: no-repeat;
    }
  }

  // min-width: 780px;
  @include media($medium){
    @include container-size(100%, 100vh);
    margin-top: 0;
    background: {
      image: url('../../dist/img/hero-desktop.jpg');
      size: cover;
      repeat: no-repeat;
    }
  }
}

.attribution {
  margin: 2%;
  font-size: $small-text;
  text-align: center;
  &__link {
    color: $blue;
  }
  // min-width: 780px;
  @include media($medium) {
    @include position(absolute, $right:1%, $bottom:1%);
    margin: 0;
    text-align: center;
  }
}
