// compileCompressed: ../../dist/css/$1.min.css

@charset 'utf-8';
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

button, input {
  outline: none;
  border-radius: 50px;
}

body {
 font: {
   family: $font-family;
   size: $body-copy;
 }
 @include gradient(lighten(hsl(0, 74%, 74%), 30%), lighten(hsl(0, 80%, 86%), 10%));
 margin: 0;
}

.main-wrapper {
  @include flex(flex, space-between, center, column-reverse);
  @include container-size(100vw, 100%);
  @include media($medium) {
    @include flex(flex, space-between, center, row);
    @include container-size(100vw, 100vh);
  }
}

.text-block {
  // background: transparent;
  @include container-size(100%, auto);
  text-align: center;

  @include media($medium) {
    background: {
      image: url('../../dist/img/bg-pattern-desktop.svg');
      size: cover;
      repeat: no-repeat;
    }

    @include flex(flex, flex-start, flex-start, column);
    @include container-size(65%, 100vh);
    padding: 5% 0 0 5%;
    text-align: left;
  }

  @include media($large) {
    padding: 7% 5% 0 10%;
    @include container-size(100%, 100vh);
  }

  &__logo {
    position: absolute;
    padding: 4%;
    top: 0;
    left: 0;
    @include media($medium) {
      position: static;
      margin: 0 0 15%;
      padding: 0;
    }
  }
}

.heading {
  padding-top: 10%;
  font-size: $heading-medium;
  @include media($large) {
    font-size: $heading-big;
  }
  @include media($medium) {
    margin-top: 6%;
  }
  @include media($large) {
    margin-top: 0;
    padding: 6% 0 0 0;
  }
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 0;
  &__text--red {
    color: $desaturated-red;
    font-weight: 300;
  }

  &__text--black {
    display: block;
    font-weight: 600;
    color: $dark-red;
  }
}

.form-wrapper {
  margin: 8% auto;
  // while screen is up to 800px
  @include container-size(90%);
  // while screen is bigger than 375px and smaller than 1200px
  @include media($small) {
    @include container-size(70%);
    margin: 8% auto;
  }

  @include media($medium) {
    @include container-size(80%);
    margin: 8% 0;
  }
  @include media($large) {
    // @include container-size(70%);
    margin: 8% 0;

  }


  &__description {
    line-height: 1.8em;
    color: $desaturated-red;
    margin: 15% 0;
    @include media($large) {
    margin: 8% 0;
    }
    @include media($medium) {
    margin: 0 0 10% 0;
    }
  }

  &__error-msg {
    color: $soft-red;
    display: none;
    font-size: $small-text;
    margin: 10px 0 0 20px;
  }
}

.subscription-form {
  position: relative;
  @include container-size(100%);
  &::after {
    content: '';
    background: {
      image: url('../../dist/img/icon-error.svg');
      repeat: no-repeat;
    }
    display: none;
    @include container-size(24px, 24px);
    @include position(absolute, $top:calc(50% - 12px), $right:100px)
  }
  &__email {
    @include container-size(100%, 50px);
    padding: 10px 20px;
    border: 1px solid $light-grey;
    background: transparent;
    &::placeholder {
      color: $light-grey;
      font-family: $font-family;
    }
  }
}

.error {
      border: 1px solid $soft-red;
      &::after {
        display: block;
      }
}

.submit-btn {
  @include gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  @include position(absolute, $right:0);
  @include container-size(85px, 50px);
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 15px -12px rgba(0, 0, 0, 0.35);
  &:hover {
    @include gradient(lighten(hsl(0, 80%, 86%), 10%), lighten(hsl(0, 74%, 74%), 10%));
    box-shadow: 2px 15px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

.hero-image {
  background: {
    image: url('../../dist/img/hero-mobile.jpg');
    size: cover;
    repeat: no-repeat;
  }
  @include container-size(100%, 30vh);
  margin-top: calc(33px + 8%);
  @include media(550px) {
    background: {
      image: url('../../dist/img/hero-tablet.jpg');
      size: cover;
      repeat: no-repeat;
    }
    @include container-size(100%, 45vh);
  }
  @include media($medium){
    @include container-size(100%, 100vh);
    margin-top: 0;
    background: {
      image: url('../../dist/img/hero-desktop.jpg');
      size: cover;
      repeat: no-repeat;
    }
  }
}

.attribution {
  margin: 2%;
  font-size: $small-text;
  text-align: center;
  &__link {
    color: $blue;
  }
  @include media($medium) {
    @include position(absolute, $right:1%, $bottom:1%);
    margin: 0;
    text-align: center;
  }
}
